.DS_Store
.VSCodeCounter

# vim
.vim

# Python
build/
dist/
*.egg-info/
__pycache__/

ignore_files/
log
*.pyc

*.tmp

# pytest
.coverage*
htmlcov/


tests/test_repo

test.py
calc.py
trans.txt

tests/bash_pigit_comp
tests/fish_pigit_comp
tests/zsh_pigit_comp
tests/zsh_pigit-dev_comp
tests/pigit-dev_zsh_comp
tests/pigit_bash_comp
tests/pigit_fish_comp
tests/ignore_test
