.DS_Store
.VSCodeCounter

# vim
.vim

# Python
build/
dist/
*.egg-info/
__pycache__/

ignore_files/
log
*.pyc

*.tmp

# pytest
.coverage*
htmlcov/



test.py
calc.py
trans.txt

tests/bash_pigit_comp
tests/fish_pigit_comp
tests/zsh_pigit_comp