.DS_Store
.VSCodeCounter

# vim
.vim

# Python
build/
dist/
*.egg-info/
__pycache__/

ignore_files/
log
*.pyc

*.tmp

# log file
*.log

# pytest
.pytest_cache
.coverage*
htmlcov/

# venv
.pigit_venv
.venv/

# useless file temp
useless/

# other
tests/test_repo
tests/ignore_test
tests/pigit.conf
coverage.json

test.py
calc.py
trans.txt

pigit_*_comp
xxx_bash_comp
docs/cmd_builtin_legacy.py

_Users_haha_projects_pigit

# temp
# docs/

# worktrees
.worktrees/